terraform {
  {{ if and (not (eq .General.Organization "")) (not (eq .General.Organization "")) }}
  cloud {
      organization = {{ .General.Organization }}

      workspaces {
        name = {{ .General.Workspace }}
      }
    }
  {{end}}
  required_version = "~> {{.TerraformVersion}}"
}

locals {
    project_id = "{{ .General.ProjectID }}"
    region = "{{ .General.Region }}"
    name = "{{ .Service.Name }}"
    description = "{{ .Service.Description }}"
}

data "google_project" "this" {
  project_id = local.project_id
}